<div class="basic-grey">
  
  <script>
    $.notify("<%= notice %>", "success")
  </script>

  <h1><%= "#{t('messages.listing')} #{@addresses.model.model_name.human(count: @addresses.count)}" %></h1>

  <table class="table-striped">
    <thead>
      <tr>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Contact</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.street %></td>
          <td><%= address.city %></td>
          <td><%= address.state %></td>
          <td><%= address.contact.name %></td>
          <td><%= link_to t('buttons.edit'), edit_address_path(address) %></td>
          <td><%= link_to t('buttons.destroy'), address, method: :delete, data: { confirm: t('messages.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= paginate @addresses %>
  <br>
  <%= link_to t('buttons.home'), root_path, class: "btn btn-success" %>
</div>