<%= form_for(@kind, html: {class: "basic-grey"}) do |f| %>
  <% if @kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kind.errors.count, "error") %> prohibited this kind from being saved:</h2>
      <ul>
      <% @kind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Tipos</h1>

  <div class="form-horizontal">
    <div class="row col-md-12">
      <label class="col-md-3">
        <span>
          <%= f.label :description %><br>
        </span>
      </label>
      <%= f.text_field :description, class: "form-control col-md-8" %>
    </div>
  </div>
  <div class="left-margin">
    <div class="actions">
      <%= f.submit "Enviar", class: "btn btn-primary" %>
      <%= link_to 'Back', kinds_path, class: "btn btn-success" %>
    </div>
  </div>
<% end %>
