<%= form_for(@contact, html: { class: "basic-grey" }) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@contact.errors.count, t('messages.error', count: @contact.errors.count))} " "#{t('messages.invalid')}" %></h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Contatos</h1>

  <div class="form-horizontal">
    <div class="row col-md-12">
      <label class="col-md-3">
        <span>
          <%= f.label :name %><br>
        </span>
      </label>
      <%= f.text_field :name, class: "form-control col-md-8" %>
    </div>
    <div class="row col-md-12">
      <label class="col-md-3">
        <span>
          <%= f.label :email %><br>
        </span>
      </label>
      <%= f.text_field :email, class: "form-control col-md-8"  %>
    </div>
    <div class="row col-md-12">
      <label class="col-md-3">
        <span>
          <%= f.label :kind_id %><br>
        </span>
      </label>      
      <%= f.collection_select(:kind_id, @options, :id, :description, {}, {:class => "form-control col-md-8"}) %>
    </div>
      
    <%= f.fields_for :address do |address_fields| %>
      <div class="row col-md-12">
        <label class="col-md-3">
          <span>
            <%= address_fields.label :street %>
          </span>
        </label>
        <%= address_fields.text_field :street, class: "form-control col-md-8"  %> 
      </div>
      <div class="row col-md-12">
        <label class="col-md-3">
          <span>
            <%= address_fields.label :city %>
          </span>
        </label>
        <%= address_fields.text_field :city, class: "form-control col-md-8"  %> 
      </div>
      <div class="row col-md-12">
        <label class="col-md-3">
          <span>
            <%= address_fields.label :state %>
          </span>
        </label>
        <%= address_fields.select :state, options_for_states(@contact.address.state), {}, {:class => "form-control col-md-8"} %> 
      </div>
    <% end %>

    <div id="phones">
      <%= f.fields_for :phones do |phones_fields| %>
        <%= render partial: "phone_fields", locals: {f: phones_fields} %>
      <% end %>
      
      <div class="row col-md-12">
        <span>
          <%= f.label :phones, "<span class='fa fa-phone'></span>".html_safe %>
        </span>  
        <%= link_to_add_association('[Adicionar Telefone]', f, :phones) %>  
      </div>
    </div>
    <br>
    <div class="row col-md-12">
      <label class="col-md-3">
        <span>
          <%= f.label :rmk %><br>
        </span>
      </label>
      <%= f.text_area :rmk, class: "form-control col-md-8"  %>
    </div>
  </div>
  <div class="left-margin">
    <div class="actions">
      <%= f.submit "Enviar", class: "btn btn-primary" %>
      <%= link_to 'Back', contacts_path, class: "btn btn-success" %>
    </div>
  </div>
<% end %>
