<%= form_for(@phone, html: {class: "basic-grey"}) do |f| %>
  <% if @phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% @phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Telefones</h1>

  <div class="field">
    <label>
      <span>
        <%= f.label :phone %><br>
      </span>
    </label>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <label>
      <span>
        <%= f.label :contact_id %><br>
      </span>
    </label>
    <%= f.text_field :contact_id %>
  </div>
  <div class="left-margin">
    <div class="actions">
      <%= f.submit "Enviar", class: "button" %>
      <%= link_to 'Back', phones_path, class: "button-back" %>
    </div>
  </div>
<% end %>
