<div class="basic-grey">
  <p id="notice"><%= notice %></p>

  <h1><%= "#{t('messages.listing')} #{@phones.model.model_name.human(count: @phones.count)}" %></h1>

  <table class="table-striped">
    <thead>
      <tr>
        <th>Phone</th>
        <th>Contact</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @phones.each do |phone| %>
        <tr>
          <td><%= phone.phone %></td>
          <td><%= phone.contact.name %></td>
          <td><%= link_to t('buttons.edit'), edit_phone_path(phone) %></td>
          <td><%= link_to t('buttons.destroy'), phone, method: :delete, data: { confirm: t('messages.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= paginate @phones %>
  <br>

  <%= link_to t('buttons.home'), root_path, class: "btn btn-success" %>
</div>